{% extends 'base.html.twig' %} 
{% block title %}Bienvenue sur le site !  {% endblock %}
{% block Contenu %}
    <h1 class='blueTitle'> L'équipement</h1>  
    <p class='color-beige'>
     L'informatique est fortement répandue sur le site. Chaque employé est équipé d'un poste fixe relié au
système central. On dénombre ainsi plus de 350 équipements terminaux et un nombre de serveurs
physiques conséquent (45 en 2012) sur lesquels tournent plus de 100 serveurs virtuels.
    </p>
    <p class='color-beige'>
        On trouve aussi des stations de travail plus puissantes dans la partie labo-recherche, et une multitude
d'ordinateurs portables (personnels de direction, service informatique, services commerciaux, etc).
    </p>
    <p class='color-beige'>
        Les visiteurs médicaux reçoivent une indemnité bisannuelle pour s'équiper en informatique (politique
Swiss-Bourdin) ou une dotation en équipement (politique Galaxy). Il n'y a pas à l'heure actuelle
d'uniformisation des machines ni du mode de fonctionnement
    </p>
    <p class='color-beige'>
        Chaque employé de l'entreprise a une adresse de messagerie de la forme nomUtilisateur@swiss-
galaxy.com. Les anciennes adresses de chaque laboratoire ont été définitivement fermées au 1er
janvier 2011.
    </p>
{% endblock %}