{% extends 'base.html.twig' %} 
{% block title %}Bienvenue sur le site !  {% endblock %}


  
{% block Contenu %}

    
{% if listeNomDomaineCategorie is empty %}
        <h3 style="text-align: center; margin-top: 1em;">Aucun Utilisateur</h3>
    {% else %}
        {% for unUtilisateur in listeNomDomaineCategorie %}
         
        <p class="color-beige">NomCategorie : {{ unUtilisateur.nomCategorie}}</p>
       
        {% for undomaine in unUtilisateur.idDomaine %}
         
        <p class="color-beige">Afficher : {{ undomaine.nomDomaine }}</p>
        
        <br>
         
        {% endfor %}
      {% endfor %}
      
    {% endif %}
 

{% endblock %}